services:
  todo-frontend:
    build: ./frontend
    ports:
      - "80:80"
    networks:
      - network
    depends_on:
      - backend

  todo-backend:
    build: ./backend
    ports:
      - "3002:3002"
    networks:
      - todo-network

networks:
  todo-network:
    driver: bridge