- name: Update packages
  become: yes
  yum:
    name: "*"
    state: latest

- name: Install rsync (required for synchronize)
  become: yes
  yum:
    name: rsync
    state: present

- name: Install Apache
  become: yes
  yum:
    name: httpd
    state: present

- name: Start & enable Apache
  become: yes
  service:
    name: httpd
    state: started
    enabled: yes

- name: Install Node 20
  become: yes
  shell: |
    curl -fsSL https://rpm.nodesource.com/setup_20.x | sudo bash -
    sudo yum install -y nodejs
  args:
    executable: /bin/bash

- name: Verify Node version
  command: node -v
  register: node_v

- debug:
    msg: "Node installed: {{ node_v.stdout }}"

- name: Copy project to EC2
  become: yes
  synchronize:
    src: "{{ playbook_dir }}/../../"
    dest: "/opt/task-manager"
    delete: yes
    recursive: yes
    rsync_opts:
      - "--exclude=.git"
      - "--exclude=.github"
      - "--exclude=ansible"

- name: Set ownership
  become: yes
  file:
    path: /opt/task-manager
    owner: ec2-user
    group: ec2-user
    recurse: yes
