#SPDX-License-Identifier: MIT-0
---
# tasks file for common
- name: Install common Packages
  become: yes
  package:
    name:
      - httpd
      - nodejs
      - npm
    state: present

- name: Start and enable Apache
  become: yes
  service:
    name: httpd
    state: started
    enabled: yes

- name: Copy Source Cope
  become: yes
  synchronize:
    src: "{{ playbook_dir }}/../../"
    dest: "/opt/todo-app"
    delete: yes
    recursive: yes
    rsync_opts:
      - "--exclude=.git"
      - "--exclude=.github"
      - "--exclude=ansible"

- name: Waiting for instance to be ready
  wait_for:
    host: "{{ ec2.instances[0].public_dns_name }}"
    port: 22
    delay: 30
    timeout: 300
    state: started
  when: ec2.instances is defined and ec2.instances | length > 0

- name: Add the Ec2 instance to the inventory dynamically
  add_host:
    name: "{{ec2.instances[0].public_dns_name}}"
    groups: launched_ec2_instances
    ansible_ssh_private_key_file: "{{ ec2_ssh_key_path }}"
    ansible_user: ec2-user

- name: Debug SSH Key Path
  debug:
    var: ec2_ssh_key_path

- name: Debug dynamic inventory
  debug:
    var: groups['launched_ec2_instances']
