- name: Get default VPC info
  amazon.aws.ec2_vpc_net_info:
    region: "{{ aws_region }}"
    filters:
      isDefault: "true"
  register: vpc_info

- name: Set VPC ID fact
  set_fact:
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"

- name: Create / Update Security Group
  amazon.aws.ec2_group:
    name: zaki-security
    description: Security group for EC2 launched via Ansible
    region: "{{ aws_region }}"
    vpc_id: "{{ vpc_id }}"
    rules:
      - proto: tcp
        from_port: 22
        to_port: 22
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 3002
        to_port: 3002
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 80
        to_port: 80
        cidr_ip: 0.0.0.0/0
    rules_egress:
      - proto: all
        cidr_ip: 0.0.0.0/0
  register: security_group

- name: Launch EC2 instance
  amazon.aws.ec2_instance:
    name: Ansible-created-instance
    key_name: "{{ ec2_key_name }}"
    region: "{{ aws_region }}"
    instance_type: "{{ ec2_instance_type }}"
    image_id: "{{ ec2_ami_id }}"
    wait: true
    count: 1
    network:
      assign_public_ip: true
    security_groups:
      - "{{ security_group.group_id }}"
  register: ec2

- name: Wait for SSH
  wait_for:
    host: "{{ ec2.instances[0].public_dns_name }}"
    port: 22
    delay: 20
    timeout: 300

- name: Add host to inventory
  add_host:
    name: "{{ ec2.instances[0].public_dns_name }}"
    groups: launched_ec2_instances
    ansible_ssh_private_key_file: "{{ ec2_ssh_key_path }}"
    ansible_user: ec2-user

- name: Show instance IP
  debug:
    msg: "EC2 running at: {{ ec2.instances[0].public_ip_address }}"
