name: Provision of Ec2 instance and configuration

on:
    push:
        branches:
            - main

jobs:
    provision_red:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Python 3.10
              uses: actions/setup-python@v5
              with:
                  python-version: "3.10"

            - name: Install dependencies # <-- Corrected spelling
              run: |
                  python -m pip install --upgrade pip
                  pip install ansible boto3
                  ansible-galaxy collection install amazon.aws